
@font-face{
	font-family:"basic";
	font-style:normal;
	src:url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}

:root{
	--main-color:#E40031;
	--main-splash-color:#C9002B;
}


html, body{
	margin:0;
	padding:0;
	background:#fff;
	font-size:14px;
	font-weight:500;
	font-family:basic;
}



div.container-body{
	width:900px;
	margin:0 auto;
	background:#fff;
	padding-top:10px;
}


img.logo{
	width:150px;
}

.flex{
	display:flex;
}

.flex.v-center{
	align-items:center;	
}

.flex.h-center{
	justify-content:center;	
}

.flex.space-between{
	justify-content:space-between;	
}

button{
	background:transparent;
	border:none;
	outline:none;
	color:#000;
	font-weight:700;
}


button:hover{
	color:var(--main-color);
}



button.main-cr-btn{
	background:var(--main-color);
	border:none;
	outline:none;
	color:#fff;
	font-weight:700;
	padding:3px 10px;
	border-radius:4px;
}


button.main-cr-btn:hover{
	background:var(--main-splash-color);
}

button.black-btn{
	background:#222;
	border:none;
	outline:none;
	color:#fff;
	font-weight:700;
	padding:3px 10px;
	border-radius:4px;
}


button.black-btn:hover{
	background:#000;
}




.side-by-side-div{
	display:flex;
}

.one-section{
	width:50%;
	padding-right:18px;
}



.one-section .sec-title{
	color:#000;
	font-size:20px;
	font-weight:700;
}


.member-object{
	margin-top:12px;
}


.member-object .nick{
	color:#000;
	font-size:16px;
	font-weight:700;
}

.member-object .intro{
	color:#999;
	font-size:14px;
	font-weight:700;
}

.member-object > div{
	display:flex;
	align-items:center;
	justify-content:space-between;
}



.chat-object{
	margin-top:12px;
}


.chat-object .nick{
	color:#000;
	font-size:16px;
	font-weight:700;
}

.chat-object .intro{
	color:#999;
	font-size:14px;
	font-weight:700;
}

.chat-object > div{
	display:flex;
	align-items:center;
	justify-content:space-between;
}




input.user-inp{
	width:250px;
	height:30px;
	font-size:15px;
	font-weight:700;
	margin-top:12px;
	outline:none;
	border:1px solid #dedede;
	padding:0 4px;
	border-radius:2px;
}


input.user-inp:focus{
	border:1px solid var(--main-color);
}




